In [3]:
import pandas as pd
import numpy as np

In [7]:
pd.read_csv('covid19.csv')

,pruid,prname,prnameFR,date,numconf,numprob,numdeaths,numtotal,numtested,numrecover,...,numactive,rateactive,numtotal_last14,ratetotal_last14,numdeaths_last14,ratedeaths_last14,avgtotal_last7,avgincidence_last7,avgdeaths_last7,avgratedeaths_last7
0,35,Ontario,Ontario,31-01-2020,3,0,0.0,3,NaN,NaN,...,3.0,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59,British Columbia,Colombie-Britannique,31-01-2020,1,0,0.0,1,NaN,NaN,...,1.0,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Canada,Canada,31-01-2020,4,0,0.0,4,NaN,NaN,...,4.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35,Ontario,Ontario,08-02-2020,3,0,0.0,3,NaN,NaN,...,3.0,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59,British Columbia,Colombie-Britannique,08-02-2020,4,0,0.0,4,NaN,NaN,...,4.0,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,60,Yukon,Yukon,25-10-2020,20,0,0.0,20,3857.0,15.0,...,5.0,12.24,5.0,12.24,0.0,0.00,1.0,1.75,0.0,0.00
3488,61,Northwest Territories,Territoires du Nord-Ouest,25-10-2020,9,0,0.0,9,5259.0,5.0,...,4.0,8.92,4.0,8.92,0.0,0.00,1.0,1.27,0.0,0.00
3489,62,Nunavut,Nunavut,25-10-2020,0,0,0.0,0,2850.0,0.0,...,NaN,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00
3490,99,Repatriated travellers,Voyageurs rapatri√©s,25-10-2020,13,0,0.0,13,76.0,13.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3491,1,Canada,Canada,25-10-2020,216104,0,9946.0,216104,9603477.0,181429.0,...,24729.0,65.79,34240.0,91.09,333.0,0.89,2565.0,6.82,27.0,0.07